<?xml version="1.0"?>
<!--
/**
 *
 * @description Routes config
 *
 * @author Bina Commerce      <https://www.binacommerce.com>
 * @author C. M. de Picciotto <cmdepicciotto@binacommerce.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="geoip" frontName="geoip">
            <module name="Bina_GeoIp"/>
        </route>
    </router>
</config>